header{
  height: 325px;
  text-align: left;
  background-color: #ff00fc4d;
  border-style: solid;
  border-top-color: #fed3fd;
  border-bottom-color: #a26ea1;
  border-left-color: #dda3dc;
  border-right-color: #b47bb3;
  border-width: 20px;
  padding: 20px;
  margin: 20px;
}
nav{
  margin: 20px;
  height: 25px;
  background-color: black;
  border-width: 10px;
  border-style: dotted;
  border-color: #d500f5;
  padding: 10px;
}
a{
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  border-style: groove;
  border-color: #d500f5;
  text-decoration: line-through;
  color: yellow;
}
a:visited{
  color: #818104 ;
}
a:hover{
  color: #ffa200;
}
a:active{
 color: red;
}
h1{
  font-style: oblique;
  font-size: 40px;
  color: #6c376b;
}
#uno{
  font-style: oblique;
  font-size: 130%;
}
#dos{
  letter-spacing: 10px;
}
ul{
  list-style-type: georgian;
}
ol{
  list-style-image: url("img/alexelcapo.ico");
  margin: 20px;
  background-color: #7cd6ff;
  padding: 10px;
  padding-left: 80px;

}
