div{
  height: 250px;
  width: 250px;
  text-align: center;
  background-color: #ff00fc4d;
  border-style: solid;
  border-width: 5px;
  display: inline-block;
  border-color: black;
  margin: 10px;
}
.c1{
border-radius: 15px 60px;
}
.c2{
  background-image: linear-gradient(#ff00fc4d, pink);
}
.c3{
  background-image: radial-gradient(pink, #ff00fc4d);
}
.c4{
  background-image: repeating-radial-gradient(pink 10%, #ff00fc4d 20%);
}
.c5{
  transition: color,background-color, border-style, height, width;
  transition-duration: .3s;
  transition-timing-function: linear;
  transition-delay: .3s;
}
.c5:hover{
  color: white;
  background-color: black;
  border-style: inset;
  border-radius: 15px 40px;
  height: 100px;
}
.c5:active{
  color: white;
  width: 400px;
  background-color: blue;
  border-radius: 100px;
}
.c6{
  transform: translate(10px, 90px);
}
.c7{
  transform: rotate(20deg);
}
.c8{
  transform: scale(0.7, 1.2);
}
.c9{
  transform: skew(10deg, 10deg);
}
