/*  */
*{
  font-family: Arial, Helvetica, "Comic Sans", sans-serif;
  /* background-color: #ff4170e6; */
  /* color: #00e4ff; */
  font-size: 14px;
}
#lorem{
  font-style: oblique;
  font-size: 150%;
  font-variant:small-caps;
  letter-spacing: 10px;
}
h1{
  font: oblique 300% serif;
}
body{
  background-image:url(../img/end.gif);
  background-size: cover;
  line-height: 120%;
  word-spacing: 10px;

}
.dreta{
  text-align: right;
}
.esquerra{
  text-align: left;
}
.centre{
  text-align: center;
}
.justificateesta{
  text-align: justify;
}
p{
  width: 100%;
  clear: both;
}
a{
  display: inline-block;
  height: 60px;
  background-color: black;
  float: right;
}
