
body{
  background-image:url(https://i.ytimg.com/vi/vjTVhHyE-Uc/maxresdefault.jpg);
  background-size:cover;
}
h1{
  font: oblique 300% serif;
}
p{
  font-family: Helvetica, sans-serif;
}
.clase1{
  display: block;
}
.clase2{
  display: inline-block;
}
.clase3{
  display: inline;
}
a{
  width: 50px;
  height: 50px;
}
#p1{
  text-align: center;
  font-style: oblique;
}
#p2{
  text-align: right;
  word-spacing: 10px;
}
#p3{
  text-align: left;
  font-size: 125%;
}
.pr1{
  width: auto;
}
.pr2{
  width: 75%;
}
.pr3{
  width: 50%;
}
#i1{
  clear: both;
float: left;
}
#i2{
  clear: both;
float: right;
}
