html{
	display: block;
}
body{
	background-image: url("img/collage.jpg");
	margin: 1%;
	padding: 1%;
	text-align: justify;
}
.barra{
	box-sizing: border-box;
	border: double 10px;
	color: black;
	background-color: #a00;
	display: inline-block;
	width: 18%;
	min-width: 125px;
	margin-right: 15px;
  height: 120vh;
	overflow: auto;
  position: fixed;
  margin-left: -55px;
  margin-top: -50px;
}
fieldset{
	border-radius: 30px 30px;
	border-width: 5px;
}
.apartados a{
	display: block;
	line-height: 5px;
	height: 5px;
	color: black;
	text-decoration: none;
}
.apartados a:hover{
	color: red;
	font-size: 20px;
}
.barra a{
	display: block;
	line-height: 45px;
	height: 45px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 60px;
	margin: 10px 0 10px 5px;
}
.barra a:hover{
  background-color:#530000;
}
.cuerpo{
	margin: 1%;
	padding: 1%;
	border-radius: 30px 30px;
	border-width: 5px;
	background-color: #ffffffb0;
	position: absolute;
  left: 360px;
	width: 70%;
	height: auto;
	overflow: auto;
}
.actiu{
	background-color:#530000;
}
#seccionnav{
  display: block;
  line-height: 45px;
  color: #FFFFFF;
  padding-left: 60px;
  margin: 10px 0 10px 5px;
}
p{
	display: block;
}
.izq{
	margin: 10px;
	float: left;
	clear: left;
}
figure{
	margin: 10px;
	float: right;
	clear: right;
}
figcaption{
	text-align: center;
}
